<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "false"
    syntaxCheck                 = "false"
    bootstrap                   = "./tests/Bootstrap.php">

    <testsuites>
        <testsuite name="phalcon_extension_library">
            <directory suffix="Test.php" phpVersion="5.5">./tests/PhalexTest</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./library/Phalex</directory>
            <exclude>
                <directory suffix="Interface.php">./library/Phalex</directory>
                <directory suffix="Exception.php">./library/Phalex</directory>
                <file>./library/Phalex/Mvc/Application.php</file>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./code-coverage" charset="UTF-8" highlight="false" lowUpperBound="40" highLowerBound="80" />
    </logging>
</phpunit>
